html {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

body {
    position: relative;
    font-family:  'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.65em;
    color: #cafcf9;
    text-align: left;
    min-width: 320px;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url('../img/gallery-back.svg') repeat top center, #f4ece0;
    background-size: cover;

}

.header {
    text-align: center;
    position: relative;
    margin: auto;
}

.header__logo {
    animation: fade-in 1s ease-in-out;
}

.main-nav {
    margin: auto;
    max-width: 1440px;
}
.main-nav__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s linear;
    cursor: pointer;
}
.main-nav__link:hover {
    color: #fc568d;
}
.main-nav__link:active {
    opacity: 0.8;
}
.main-nav__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
    border-bottom: 2px solid #fc568d;
}

.main-nav__title {
    font-size: 37px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.main-nav__icon_illustrations {
    display: inline-block;
    width: 50px;
    height: 65px;
    background-size: contain;
    background: url('../img/illustration.svg') no-repeat center;
    margin-right: 15px;
    margin-left: 15px;
}

.arrow__back {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fc568d;
    transition: 0.1s ease;
}

.arrow:hover .arrow__back {
    fill: #cafcf9;
}