@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'),
     url('../fonts/neucha-regular.ttf') 
     format('ttf');
}

.main-nav__icon {
  background: url('../img/code.svg') no-repeat center;
}

.main-nav__icon_web {
  background: url('../img/web-design.svg') no-repeat center;
}

.og-details a.link-button {
  font-size: 19px;
  line-height: 29px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 2px 10px;
  background: #506085;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
  word-wrap: normal;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid transparent;
  transition: 0.1s linear;
}

.og-details a.first {
  margin-left: 0;
  background: #d22f69;
}

.og-details a:hover {
  background: transparent;
  border: 2px solid #506085;
  color: #506085;
}

.og-details a.first:hover {
  background: transparent;
  border: 2px solid #d22f69;
  color: #d22f69;
}

@media (max-width: 425px) {
  .og-grid li > a img {
    width: 86%;
    margin: auto;
  }

  .og-details a.link-button {
    margin-left: 5px;
  }
}

@media (max-width: 425px) {
  .og-expander-inner {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 425px) {
  .og-details {
     padding: 0;
  }

  .og-details h3 {
    margin-bottom: 6px;
  }

  .og-details p {
    text-align: left;
    padding: 10px 0;
  }
}
