
.main-nav__icon {
    background: url('../img/code.svg') no-repeat center;
}

.main-nav__icon_web {
    background: url('../img/web-design.svg') no-repeat center;
}

.og-details a.link-button {
    padding: 2px 10px;
    background: #d22f69;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    white-space: normal;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.1s linear;
}

.og-details a.first {
    margin-left: 0;
}

.og-details a:hover {
    background: transparent;
    border: 2px solid #d22f69;
    color: #d22f69;
}

.elastislide-carousel {
    visibility: hidden;
}

.elastislide-next {
    visibility: hidden;
}

.elastislide-wrapper {
    display: none;
}

@media (max-width: 425px) {
    .og-grid li > a img {
        width: 86%;
        margin: auto;
    }
}

@media (max-width: 425px) {
    .og-expander-inner {
        overflow: scroll;
    }
}

@media (min-width: 1200px) {
    .og-expander h3 {
        font-size: 36px;
        line-height: 36px;
        word-spacing: 2px;
    }
}