@-webkit-keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}


@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes wabble {
    0%, 100% {
        -webkit-transform: rotateZ(0deg);
    }
    12.5% {
        -webkit-transform: rotateZ(-5deg);
    }
    25% {
        -webkit-transform: rotateZ(5deg);
    }
    37.5% {
        -webkit-transform: rotateZ(-5deg);
    }
    50% {
        -webkit-transform: rotateZ(5deg);
    }
    62.5% {
        -webkit-transform: rotateZ(-3deg);
    }
    75% {
        -webkit-transform: rotateZ(5deg);
    }
    87.5% {
        -webkit-transform: rotateZ(-3deg);
    }
}
@-webkit-keyframes wabble
{
    0%, 100%
    {
        -webkit-transform: rotateZ(0deg);
    }
    12.5%
    {
        -webkit-transform: rotateZ(-5deg);
    }
    25%
    {
        -webkit-transform: rotateZ(5deg);
    }
    37.5%
    {
        -webkit-transform: rotateZ(-5deg);
    }
    50%
    {
        -webkit-transform: rotateZ(5deg);
    }
    62.5%
    {
        -webkit-transform: rotateZ(-3deg);
    }
    75%
    {
        -webkit-transform: rotateZ(5deg);
    }
    87.5%
    {
        -webkit-transform: rotateZ(-3deg);
    }
}