@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes blink {
  0% {opacity: 0.4;}
  50% {opacity: 1;}
  100% {opacity: 0.4;}
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes mouth {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: scale(0.5);
  }
  
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.2);
  }
}

@keyframes key {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(0deg);}
}

@keyframes lamp {
  0% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes float {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-6px);}
}

@keyframes float-env {
  0%, 100% {transform: translateY(0) rotate(-16deg);}
  50% {transform: translateY(-6px) rotate(-16deg);}
}

@keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.35); opacity: 0.3;}
  100% {transform: translateY(-50px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.35); opacity: 0.3;}
  100% {transform: translateY(-80px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}

.fade-out {
  animation: fade-out 3s ease-out;
}

.delay {
  animation-delay: 0.35s !important;
}

.invisible {
  transition: 1s;
  display: none;
}
