@import 'variables';

@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Neucha-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Dosis;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: var(--line-height-s);
  color: var(--text-color-primary-dark);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  min-width: @screen-s;

  @media print {
    @page {
      size: a4 landscape;
    }
  }
}

::selection {
  background: var(--color-accent-dark);
  color: var(--text-color-inverted);
}

/* Common classes */

.page {
  display: flex;
  flex-direction: column;

  &__grid {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
}

// for a11y purposes
.visually-hidden {
  position: fixed;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-beige);
  border-radius: var(--border-radius-m);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent-dark);
  border-radius: var(--border-radius-m);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
