@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Neucha-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Dosis;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Nunito;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}
