@import 'common';
@import 'mixin';
@import 'variables';
@import 'animation';

.header {
    .container();
    background: url('../img/main-background.svg') no-repeat scroll center bottom,
                url('../img/clouds.svg') no-repeat fixed top center;
    background-size: 100%, 1440px;
    text-align: center;
    padding-bottom: 708px;
    position: relative;

    &__logo {
        position: absolute;
        bottom: 315px;
        left: 550px;
        animation: fade-in 1s ease-in-out;
    }
}

.tree-element {
    position: absolute;

    &__light {
        background: url('../img/light-tree.svg') no-repeat center;
        background-size: contain;
        animation: fade-out 4s ease-in-out alternate-reverse infinite;
        width: 65px;
        height: 65px;

        &_top {
            top: 186px;
            right: 333px;
            animation-duration: 3s;
        }

        &_bottom {
            top: 291px;
            right: 369px;
        }
    }

    &__gear {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: rotate 5s linear;
        animation-direction: normal;
        animation-iteration-count: infinite;

        &_one {
            background-image: url('../img/gear1.svg');
            width: 60px;
            height: 60px;
            top: 409px;
            right: 275px;
        }

        &_two {
            background-image: url('../img/gear2.svg');
            width: 42px;
            height: 42px;
            top: 406px;
            right: 343px;
            animation-duration: 6s;
            animation-direction: reverse;
        }

        &_three {
            background-image: url('../img/gear3.svg');
            width: 50px;
            height: 50px;
            top: 327px;
            right: 342px;
            animation-duration: 4s;
        }

        &_four {
            background-image: url('../img/gear4.svg');
            width: 42px;
            height: 42px;
            top: 340px;
            right: 247px;
            animation-direction: reverse;
            animation-duration: 6.2s;
        }

        &_five {
            background-image: url('../img/gear5.svg');
            width: 45px;
            height: 45px;
            top: 401px;
            right: 190px;
        }
    }

    &__key {
        background: url('../img/key.svg') no-repeat center;
        width: 70px;
        height: 76px;
        top: 458px;
        right: 335px;
        transform-origin: 20px top;
        animation: key 5s linear infinite;
    }
}

.contacts,
.language,
.portfolio__items {
    margin-top: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;

    &__link {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }
}

.language {
    width: 52px;

    &__link {
        font-size: 18px;
        cursor: pointer;
        transition: @transition_base;

        &_active {
            color: @pink;
        }

        &:hover {
            color: @pink;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.contacts {
    margin-bottom: 7px;
    min-width: 265px;

    &__link {
        width: 45px;
        height: 45px;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
        transition: all 0.1s linear;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.8);
        }

        &_mail {
            background-image: url('../img/mail.svg');
        }

        &_mail-pink {
            background-image: url('../img/mail-pink.svg');
        }

        &_vk {
            background-image: url('../img/vk.svg');
        }

        &_vk-purple {
            background-image: url('../img/vk-purple.svg');
        }

        &_github {
            background-image: url('../img/github.svg');
        }

        &_github-pink {
            background-image: url('../img/github-pink.svg');
        }

        &_deviant {
            background-image: url('../img/deviantart.svg');
        }

        &_deviant-purple {
            background-image: url('../img/deviantart-purple.svg');
        }

        &_linkedin {
            background-image: url('../img/linkdin.svg');
        }

        &_linkedin-pink {
            background-image: url('../img/linkedin-pink.svg');
        }
    }

    &__description {
        display: inline-block;
        text-align: center;
        margin: 0 0 8px 64px;
    }

    &__title {
        font-size: 42px;
        line-height: 45px;
        margin-right: 8px;
        margin-top: 5px;
    }
}

.main-nav {
    margin: auto;

    &__link {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        transition: @transition_base;
        cursor: pointer;

        &:hover {
            color: @pink;
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 128px 0;
    }

    &__items {
        display: inline-block;
        text-align: center;
        list-style: none;
        font-size: 30px;
        line-height: 60px;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 254px;
        left: 244px;
        transform: rotate(-5deg);
        color: #cafcf9;
    }
}

.portfolio {
    .container();
    background: url('../img/portfolio-background.svg') no-repeat top center,
    linear-gradient(to bottom, rgba(153, 206, 255, 0.5) 10%, transparent 28%);
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 200px;

    &__heading {
        text-align: center;
        margin: 76px 0;
        font-size: 76px;
        font-weight: 400;
    }

    &__grid {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 78px auto 78px 190px;
        max-width: 1000px;
        width: 100%;

        & a:nth-child(odd) {
            margin: 30px 0 -30px 0;
        }
    }

    &__link {
        max-width: 250px;
        width: 100%;
    }

    &__item {
        position: relative;
        overflow: hidden;
        margin: 5px;
        background: #333;
        border-radius: 5px;
    }

    &__img {
        position: relative;
        display: block;
        width: 100%;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 0.8;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        z-index: 11;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    &__title {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 130%;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        color: #fff;
    }

    &__description {
        padding: 0 20px;
        font-weight: 300;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        color: #f2f2f2;
        line-height: 25px;
    }

    &__btn {
        position: absolute;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        bottom: 0;
        left: 0;
        padding: 15px;
        width: 100%;
        color: #fff;
        font-weight: 400;
        font-family: 'Neucha', 'Comic Sans', sans-serif;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        background: #fc568d;

        &_purple {
            background: #506085;
        }
    }

    &__wrapper,
    &__title,
    &__description,
    &__btn {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        cursor: pointer;
    }

    & svg {
        position: absolute;
        top: -1px; /* fixes rendering issue in FF */
        z-index: 10;
        width: 100%;
        height: 100%;
    }

    &__link:hover &__img {
        opacity: 1;
    }

    &__link:hover &__title,
    &__link:hover &__description {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    &__link:hover &__description {
        opacity: 0;
    }

    &__link:hover &__btn {
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    &__title,
    &__description {
        -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
        -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    }

    &__link:hover &__description {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
    }
}

@media screen and (max-width: 58em) {
    .portfolio {

        &__link {
            width: 33.333%;
        }

        & a:nth-child(odd) {
            margin: 0;
        }

        & a:nth-child(3n-1) {
            margin: 30px 0 -30px 0;
        }
    }
}

@media screen and (max-width: 45em) {

    .portfolio {

        &__grid {
            max-width: 500px;
        }

        &__link {
            width: 50%;
        }

        & a:nth-child(3n-1) {
            margin: 0;
        }

        & a:nth-child(even) {
            margin: 30px 0 -30px 0;
        }

        &__title {
            margin-bottom: 0;
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
        }

        &__description {
            margin: 0;
            padding: 0 10px;
        }
    }
}

@media screen and (max-width: 27em) {
    .portfolio {

        &__grid {
            max-width: 250px;
        }

        &__link {
            width: 100%;
        }

        & a:nth-child(even) {
            margin: 0;
        }
    }
}

.about-me {
    .container;
    position: relative;
    background: url('../img/room.svg') no-repeat center top;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 235px;

    &__title {
        font-size: 38px;
        font-weight: 400;
        margin: 0;
        padding-top: 95px;
        padding-left: 149px;
    }

    &__photo {
        width: 178px;
        height: 195px;
        display: inline-block;
        text-align: center;
        background: url('../img/alice.png') no-repeat center,
                    url('../img/photo.svg') no-repeat center;
        background-size: 65%, contain;
        position: absolute;
        left: 195px;
        top: 90px
    }

    &__text-wrapper {
        max-width: 452px;
        margin: auto;
        font-size: 17px;
        padding-top: 283px;
        padding-left: 29px;
        line-height: 22px;
    }

    &__note {
        background: url('../img/note.svg') no-repeat center;
        background-size: contain;
        width: 560px;
        height: 750px;
        position: relative;
        margin-top: 68px;
        margin-right: 22px;

    }

    &::after {
        content: '';
        width: 310px;
        height: 500px;
        background: url("../img/light.svg") no-repeat top center;
        background-size: 104%;
        position: absolute;
        top: 174px;
        left: 557px;
        animation-name: fade-out;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    &::before {
        content: url('../img/cat-mouth.svg');
        width: 11px;
        height: 17px;
        position: absolute;
        bottom: 140px;
        left: 639px;
        animation-name: mouth;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
}

.clock {
    position: absolute;
    top: 18%;
    left: 25.2%;
    width: 145px;
    height: 145px;
    background: url('../img/clock.svg') no-repeat center;
    background-size: cover;

    &__minute {
        width: 1px;
        height: 30px;
        background: #3a4d57;
        position: absolute;
        top: 44px;
        left: 73px;
        transform-origin: 0 bottom;
        animation: rotate 30s linear infinite;
    }

    &__hour {
        width: 2px;
        height: 28px;
        background: #3a4d57;
        position: absolute;
        top: 46px;
        left: 71px;
        transform-origin: 0 bottom;
        animation: rotate 600s ease-in infinite;
        animation-delay: 30s;
    }
}

.footer {
    .container();
    text-align: center;
    background: url('../img/gears-footer.svg') no-repeat center;
    background-size: cover;
    padding-top: 25px;

    &__contacts {
        max-width: 455px;
        margin: auto;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
        width: 1100px;
        margin: auto;
    }

    &__copyright {
        font-size: 16px;
        display: block;
        margin-top: 15px;
    }

    &__logo {
        transition: @transition_base;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

.mailbox {
    display: inline-block;
    width: 172px;
    height: 200px;
    background: url('../img/mailbox.svg') no-repeat center;
    background-size: contain;
    position: relative;

    &:before {
        content: url('../img/mailbox-toggle.svg');
        display: block;
        width: 24px;
        height: 66px;
        position: absolute;
        top: -30px;
        left: 45px;
        transition: transform 0.2s ease-in;
        transform-origin: 20px bottom;
    }

    &:hover:before {
        transform: rotate(-30deg);
    }
}

.base-link {
    color: @purple_dark;
    transition: @transition_base;

    &:hover {
        color: @pink;
    }

    &:active {
        opacity: 0.8;
    }

    &:visited {
        color: @pink;
        opacity: 0.8;
    }
}