@import 'common';
@import 'mixin';
@import 'variables';
@import 'animation';
@import 'components';
@import 'illustrations';

/* Common */
.page {
  display: flex;
  flex-direction: column;

  &__grid {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
}

/* Main page */

.main-page {
  position: relative; // for .main-page__logo
  min-height: 820px;
  background: url('../img/clouds.svg') repeat-x scroll top center;

  &__header {
    --focus-ring-bg: var(--background-color-secondary);
    margin: 30px auto 0;
    min-width: 80%;
  }

  &__logo {
    position: absolute; // containing block is .main-page
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__illustration {
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  @media (min-width: @screen-m) {
    background-attachment: fixed;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  --focus-ring-bg: var(--color-primary);
  position: relative;
  width: 340px;
  height: 440px;
  background: url('../img/boards.svg') no-repeat top center;
  background-size: cover;

  &__items {
    .listReset();
    position: absolute; //containing block is .main-illustration__waymarker
    left: 54px;
    bottom: 160px;
  }

  &__item + &__item {
    margin-top: 30px;
  }

  &__item {
    min-width: 240px;

    &:last-child {
      transform: translate(-5px,-13px); // for alignment
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-m);
    padding: var(--padding-xs) var(--padding-s);
    text-decoration: none;
    font-size: var(--font-size-xl);
    text-shadow: var(--text-shadow);
    color: var(--text-color-secondary);
    text-align: center;
    transition: var(--transition-base);
    cursor: pointer;
    
    &::after {
      content: '';
      position: absolute;
      width: 40%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 30%;
      background-color: var(--color-accent);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      will-change: transform;
    }

   &:hover {
     color: var(--text-color-accent);

     &::after {
       transform: scaleX(1);
       transform-origin: bottom left;
     }
   }

   &:active {
     opacity: 0.8;
   }

   .focusRing();
 }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
    max-width: 1048px;
  }

  &__items {
    .listReset();
    transform: rotate(-5deg);
  }
}

.main-illustration {
  position: relative; // for illustration parts

  &__waymarker {
    position: absolute; // containing block is .main-illustration
    bottom: 95px;
    left: 100px;
  }

  &__girl {
    z-index: var(--layer-level-2);
    position: absolute; // containing block is .main-illustration
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;

    @media (min-width: @screen-m) { 
      bottom: 104px;
    }
  }

  &__scroll-down-button {
    --focus-ring-bg: var(--color-primary);
    z-index: var(--layer-level-3);
    position: absolute; // containing block is .main-illustration
    bottom: 3%;
    left: 48%;
    transform: translateX(-50%);
  }

  &__rabbit {
    z-index: var(--layer-level-2);
    position: absolute; // containing block is .main-illustration
    bottom: 12%;
    left: 62.6%;
    transition: transform 1s ease-in;
    transform: translateZ(0);
    will-change: transform;

    @media (min-width: @screen-m) { 
      bottom: 14%;
      left: 62.2%;

      &:hover {
        transform: translateY(40px);
      }
    }
  }

  &__tree {
    position: absolute; // containing block is .main-illustration
    bottom: 65px;
    right: 0;
  }

  &__grass {
    position: absolute; // containing block is .main-illustration
    left: 0;
    bottom: -2px;
  }
}

// PORTFOLIO

.portfolio {
  background: url('../img/portfolio-background.svg') no-repeat top center, 
              url('../img/gears-footer.svg') no-repeat top center,
              linear-gradient(to bottom, @background-gradient);
  background: url('../img/portfolio-background.svg') no-repeat top center, 
              url('../img/gears-footer.svg') no-repeat top center,
              -webkit-linear-gradient(top, @background-gradient);
  background: url('../img/portfolio-background.svg') no-repeat top center,
              url('../img/gears-footer.svg') no-repeat top center,
              -moz-linear-gradient(top, @background-gradient);
  background-size: cover;

  &__illustration-top {
    width: 100%;
    height: 180px;
    background: url('../img/portfolio-header.svg') repeat-x top center;
    background-size: contain;
  }

  &__heading {
    .heading(var(--heading-size-xl));
    margin: 0;
    padding: var(--padding-xl);
    line-height: var(--line-height-l);
    font-weight: 400;
  }

  &__list {
    .listReset();
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 70%;
    margin: 50px auto 60px;
  }

  &__list-item {

    &:nth-child(odd) {
      margin: 30px 0 -30px 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-s);
    .focusRing();

    &:hover .portfolio__img {
      opacity: 1;
    }

    &:hover .portfolio__title {
      transform: translateY(0);
    }

    &:hover .portfolio__description {
      opacity: 0;
      transform: translateY(0);
      transition-delay: 0s;
      transition-duration: 0.1s;
    }

    &:hover .portfolio__button-wrapper,
    &:focus-within .portfolio__button-wrapper {
      transition-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    margin: 4px 2px;
    background: var(--color-grey-dark);
    border-radius: var(--border-radius-m);
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    transition: opacity 0.3s;
    opacity: 0.8;
  }

  &__curtain {
    position: absolute;
    top: -1px; /* fixes rendering issue in FF */
    width: 101%;
    height: 100%;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    padding: var(--padding-s);
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__title {
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 0.3s;
    color: var(--text-color-inverted);
    font-size: var(--heading-size-s);
    line-height: var(--line-height-xl);
    transform: translateY(50px);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__description {
    font-family: var(--font-secondary);
    font-weight: 500;
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0.05s;
    color: var(--text-color-inverted);
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    padding: 0 var(--padding-l);
    transform: translateY(50px);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__button-wrapper {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: var(--color-primary-dark);
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(100%);
    backface-visibility: hidden;
    box-sizing: border-box;
    letter-spacing: 1px;
    padding: var(--padding-m);
    color: var(--text-color-inverted);
    font-weight: 700;
    font-size: var(--font-size-l);
    background-color: var(--color-primary-dark);
    font-family: var(--font-secondary);

    &_pink {
      background-color: var(--color-accent);
    }
  }

  &__illustration-bottom {
    width: 100%;
    height: 260px;
    background: url('../img/portfolio-footer.svg') no-repeat top center;
    background-size: cover;
  }
}


@media (min-width: @screen-l) { 
    .portfolio {
      
      &__illustration-bottom {
        background-repeat: repeat-x;
        background-size: contain;
    }
  }
}

// ABOUT ME
.about-me {
  background: url('../img/gallery-back.svg') no-repeat top center, 
  url('../img/gears-footer.svg') no-repeat top center,
  linear-gradient(to bottom, @background-gradient);
  background: url('../img/gallery-back.svg') no-repeat top center, 
  url('../img/gears-footer.svg') no-repeat top center,
  -webkit-linear-gradient(top, @background-gradient);
  background: url('../img/gallery-back.svg') no-repeat top center,
  url('../img/gears-footer.svg') no-repeat top center,
  -moz-linear-gradient(top, @background-gradient);
  background-size: cover;
}

.room-illustration {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: url('../img/wallpaper.svg') no-repeat center -1px;
  background-size: 100%;
  min-height: 1064px;

  &__title {
    .heading();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 82px;
    margin-left: 90px;
    margin-top: 62px;
  }

  &__shelf {
    position: absolute;
    left: 100px;
    top: 220px;
  }

  &__clock {
    position: absolute;
    top: 20%;
    left: 30%;
  }

  &__ceiling-lamp {
    position: absolute;
    top: 0;
    left: 47%;
    z-index: var(--layer-level-2);
  }

  &__desk-wrapper {
    position: absolute;
    left: 5%;
    bottom: 22%;
  }

  &__office-chair {
    position: absolute;
    left: 262px;
    bottom: 176px;
    z-index: var(--layer-level-2);
    transition: transform 1s linear;

    &:hover {
      transform: translateX(-100px);
    }
  }

  &__cat {
    position: absolute;
    bottom: 104px;
    right: 730px;
  }

  &__laptop-girl {
    position: absolute;
    right: 88px;
    bottom: 236px;
    z-index: var(--layer-level-1);
    pointer-events: none;
  }

  &__cv {
    position: absolute;
    top: 5%;
    right: 7%;
    z-index: var(--layer-level-1);
  }
}

.cv {
  max-width: 450px;
  padding: var(--padding-xl);
  margin: 0; // reset default styles
  font-family: var(--font-secondary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 500;
  border-radius: var(--border-radius-xl);
  background: var(--color-cyan-dark);
  color: var(--color-primary-dark);
  box-sizing: border-box;

  &__title {
    display: flex;
    flex-direction: column;
    font-size: var(--heading-size-s);
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--color-grey);
  }

  &__subtitle {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: var(--font-size-s);
  }

  &__text {
    margin-bottom: 0;

    & + & {
      margin-top: 20px;
    }
  }
}

.footer {
  position: relative;
  padding-top: var(--padding-l);
  background: url('../img/gears-footer.svg') no-repeat top center;
  background-size: contain;

  &__contacts-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    color: var(--background-color-primary); // for focus ring color
    align-items: center;
    margin: 0 auto 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  &__title {
    .heading();
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 82px;
    margin: 0 auto;
  }

  &__description {
    font-family: var(--font-secondary);
    display: inline-block;
    text-align: center;
    font-size: var(--font-size-m);
    font-weight: 500;
    line-height: var(--line-height-xl);
    margin: 0 26px;
  }

  &__mailbox {
    border-radius: var(--border-radius-m);
    font-size: 0; // hide text (in case of faild css loading)
    .focusRing();
    margin-right: 60px;

    &:hover, 
    &:focus-visible {
      .mailbox__toggle {
        transform: rotate(-30deg);
      }
    }
  }

  &__copyright {
    display: block;
    font-size: var(--font-size-s);
    margin-top: 28px;
  }

  &__logo {
    transition: var(--transition-base);
    transform: scale(0.9);
    border-radius: var(--border-radius-m);

    &:hover {
      transform: scale(1);
    }

    &:active {
      transform: scale(0.8);
    }

    .focusRing();
  }
}

@media (min-width: @screen-m) {
  .footer {
    background-size: cover;

    &__contacts {
      max-width: 440px;
    }

    &__wrapper {
      max-width: 1100px;
      flex-wrap: nowrap;
    }
  }
}
