@import 'common';
@import 'mixin';
@import 'variables';
@import 'animation';
@import 'components';
@import 'illustrations';

/* Common */
.page {
  display: flex;
  flex-direction: column;

  &__grid {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
}

/* Main page */

.main-page {
  position: relative; // for .main-page__logo
  min-height: 820px;
  background: url('../img/clouds.svg') repeat-x scroll top center;

  &__header {
    margin: 30px auto 0;
    min-width: 80%;
  }

  &__logo {
    position: absolute; // containing block is .main-page
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__illustration {
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  @media (min-width: @screen-m) {
    background-attachment: fixed;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}


.main-nav {
  position: relative;
  width: 340px;
  height: 440px;
  background: url('../img/boards.svg') no-repeat top center;
  background-size: cover;

 &__items {
   .listReset();
   position: absolute; //containing block is .main-illustration__waymarker
   left: 54px;
   bottom: 160px;
 }

 &__item + &__item {
   margin-top: 30px;
 }

 &__item {
   min-width: 240px;

   &:last-child {
     transform: translate(-5px,-13px); // for alignment
   }
 }

 &__link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius-m);
   padding: var(--padding-xs) var(--padding-s);
   text-decoration: none;
   font-size: var(--font-size-xl);
   text-shadow: 2px 1px 1px var(--box-shadow-color);
   color: var(--text-color-secondary);
   text-align: center;
   transition: var(--transition-base);
   cursor: pointer;
  
   &::after {
     content: '';
     position: absolute;
     width: 40%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 30%;
     background-color: var(--color-accent);
     transform-origin: bottom right;
     transition: transform 0.25s ease-out;
     will-change: transform;
   }

   &:hover {
     color: var(--text-color-accent);

     &::after {
       transform: scaleX(1);
       transform-origin: bottom left;
     }
   }

   &:active {
     opacity: 0.8;
   }

   .focusRing(var(--color-primary));
 }

 &__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px auto 0;
   max-width: 1048px;
 }

 &__items {
   .listReset();
   transform: rotate(-5deg);
 }
}

.main-illustration {
  position: relative; // for illustration parts

  &__waymarker {
    position: absolute; // containing block is .main-illustration
    bottom: 95px;
    left: 100px;
  }

  &__girl {
    z-index: var(--layer-level-2);
    position: absolute; // containing block is .main-illustration
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;

    @media (min-width: @screen-m) { 
      bottom: 104px;
    }
  }

  &__scroll-down-button {
    z-index: var(--layer-level-3);
    position: absolute; // containing block is .main-illustration
    bottom: 3%;
    left: 48%;
    transform: translateX(-50%);
  }

  &__rabbit {
    z-index: var(--layer-level-2);
    position: absolute; // containing block is .main-illustration
    bottom: 12%;
    left: 62.6%;
    transition: transform 1s ease-in;
    transform: translateZ(0);
    will-change: transform;

    @media (min-width: @screen-m) { 
      bottom: 14%;
      left: 62.2%;

      &:hover {
        transform: translateY(40px);
      }
    }
  }

  &__tree {
    position: absolute; // containing block is .main-illustration
    bottom: 65px;
    right: 0;
  }

  &__grass {
    position: absolute; // containing block is .main-illustration
    left: 0;
    bottom: -2px;
  }
}

// PORTFOLIO

.portfolio {
  background: url('../img/portfolio-background.svg') no-repeat top center,
              linear-gradient(to bottom, @background-gradient);
  background: url('../img/portfolio-background.svg') no-repeat top center,
              -webkit-linear-gradient(top, @background-gradient);
  background: url('../img/portfolio-background.svg') no-repeat top center,
              -moz-linear-gradient(top, @background-gradient);
  background-size: cover;

  &__illustration-top {
    width: 100%;
    height: 180px;
    background: url('../img/portfolio-header.svg') repeat-x top center;
    background-size: contain;
  }

  &__heading {
    margin: 0;
    font-size: var(--heading-size-xl);
    line-height: var(--line-height-l);
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 1px 1px var(--box-shadow-color);
    color: var(--text-color-secondary);
    background: url('../img/board.svg') no-repeat top center;
    background-size: contain;
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    width: 100%;
    margin: 18px auto 0;
  }

  &__link {
    max-width: 28%;
    width: 100%;
    border-radius: var(--border-radius-s);
    .focusRing();
   
    &:nth-child(odd) {
      margin: 30px 0 -30px 0;
    }

    &:nth-child(even) {
      margin-left: 8px;
      margin-right: 8px;
    }

    &:hover .portfolio__img {
      opacity: 1;
    }

    &:hover .portfolio__title {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    &:hover .portfolio__description {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      transition-delay: 0s;
      transition-duration: 0.1s;
    }

    &:hover .portfolio__button-wrapper,
    &:focus-within .portfolio__button-wrapper {
      transition-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: var(--color-grey-dark);
    border-radius: var(--border-radius-m);
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    transition: opacity 0.3s;
    opacity: 0.8;
  }

  &__curtain {
    position: absolute;
    top: -1px; /* fixes rendering issue in FF */
    width: 101%;
    height: 100%;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    padding: var(--padding-s);
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__title {
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 0.3s;
    color: var(--text-color-inverted);
    font-size: var(--heading-size-s);
    line-height: var(--line-height-xl);
    transform: translateY(25px);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__description {
    font-family: var(--font-secondary);
    font-weight: 500;
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0.05s;
    color: var(--text-color-inverted);
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    padding: 0 var(--padding-s);
    transform: translateY(15px);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  &__button-wrapper {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: var(--color-primary);
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(100%);
    backface-visibility: hidden;
    box-sizing: border-box;

    &_pink {
      background: var(--color-accent);
    }
  }

  &__button {
    border: none;
    letter-spacing: 1px;
    padding: var(--padding-m);
    width: 90%;
    margin: 8px;
    color: var(--text-color-inverted);
    font-weight: 700;
    font-size: var(--font-size-l);
    background: var(--color-primary);
    font-family: var(--font-secondary);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

    .focusRing(var(--color-primary));

    &_pink {
      background: var(--color-accent);
      .focusRing(var(--color-accent), var(--color-primary));
    }
  }

  &__illustration-bottom {
    width: 100%;
    height: 260px;
    background: url('../img/portfolio-footer.svg') no-repeat top center;
    background-size: cover;
  }
}

@media (min-width: @screen-m) {
  .portfolio {

    &__grid {
      margin: 50px auto 60px;
      width: 100%;
    }

    &__heading {
      padding: var(--padding-xl);
    }

    &__title {
      transition: transform 0.3s;
      transform: translateY(50px);
    }

    &__description {
      padding: 0 var(--padding-l);
      transform: translateY(50px);
    }

    &__link {
      max-width: 40%;
    }
  }
}


@media (min-width: @screen-l) { 
    .portfolio {
      
      &__illustration-bottom {
        background-repeat: repeat-x;
        background-size: contain;
    }
  }
}

// ABOUT ME

.about-me {

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: url('../img/room.svg') no-repeat center top;
    background-size: 100%;
    min-height: 1064px;
  }

  &__title {
    font-size: var(--heading-size-l);
    font-weight: 400;
  }

  &__text-wrapper {
    font-family: var(--font-secondary);
    font-weight: 500;
    width: 396px;
    margin: 0;
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    padding: var(--padding-xxl);
    background: var(--color-grey-fade);
  }

  &__note {
    width: 510px;
    height: 653px;
    position: relative;
    top: 26px;
    left: 0;
  }
}

.cat,
.lamp,
.clock,
.chair,
.screen-wrapper,
.steam-wrapper {
  position: absolute;
}

.clock {
  width: 110px;
  height: 110px;
  top: 21%;
  left: 25.2%;
  background: url('../img/clock.svg') no-repeat center;
  background-size: cover;
  box-sizing: border-box;

  &__minute {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
    position: absolute;
    top: 25px;
    left: 56px;
    transform-origin: 0 bottom;
    animation: rotate 30s linear infinite;
  }

  &__hour {
    width: 2px;
    height: 28px;
    background: var(--color-grey);
    position: absolute;
    top: 29px;
    left: 54px;
    transform-origin: 0 bottom;
    animation: rotate 600s ease-in infinite;
    animation-delay: 30s;
  }
}

@media (min-width: @screen-m) {
  .clock {
    top: 18%;
    left: 25.2%;
    width: 145px;
    height: 145px;

    &__hour {
      top: 46px;
      left: 72px;
    }

    &__minute {
      top: 44px;
      left: 73px;
    }
  }
}

.steam {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-white);
  margin-top: -45px;
  margin-left: 45px;
  opacity: 0;

  &-wrapper {
    left: 416px;
    top: 409px;

    @media (min-width: @screen-m) {
      left: 610px;
      top: 565px;
    }
  }

  &-one {
    animation: steam-one 4s ease-out infinite;
  }

  &-three {
    animation: steam-one 4s ease-out 1s infinite;
  }

  &-two {
    animation: steam-two 4s ease-out 0.5s infinite;
  }

  &-four {
    animation: steam-two 4s ease-out 1.5s infinite;
  }
}

.cat {
  background: url('../img/cat.svg') no-repeat center;
  background-size: contain;
  width: 87px;
  height: 79px;
  bottom: 89px;
  right: 433px;

  &::before {
    content: '';
    width: 8px;
    height: 11px;
    background: url('../img/cat-mouth.svg') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 26px;
    left: 31px;
    animation: mouth 15s ease-in-out infinite alternate-reverse;
    -webkit-animation: mouth 15s ease-in-out infinite alternate-reverse;
  }
}

@media (min-width: @screen-m) {
  .cat {
    width: 128px;
    height: 138px;
    bottom: 80px;
    right: 782px;

    &::before {
      width: 22px;
      height: 18px;
      top: 50px;
      left: 44px;
    }
  }
}

.chair {
  width: 140px;
  height: 225px;
  left: 180px;
  bottom: 128px;
  background: url('../img/chair.svg') no-repeat center;
  background-size: contain;
  transition: transform 1s linear;

  &:hover {
    transform: translateX(-100px);
  }

  @media (min-width: @screen-m) {
    width: 189px;
    height: 305px;
    left: 270px;
    bottom: 190px;
  }
}

// ITEMS ON TABLE

.screen-wrapper {
  width: 166px;
  height: 86px;
  bottom: 382px;
  left: 224px;
  overflow: hidden;
  border-radius: 18px 18px 0 0;

  @media (min-width: @screen-m) {
    width: 230px;
    height: 123px;
    bottom: 532px;
    left: 317px;
    border-radius: 22px 22px 0 0;
  }
}

.svg-screen {
  position: absolute;
  top: -10px;
  width: 100%;
  height: auto;
  
  @media (min-width: @screen-m) {
    top: -14px;
  }
}

.stripe-hidden {
  display: none;
}

.code-move {
  transition: 0.5s linear;
}

.moved-top {
  transform: translateY(-430px);
}

.moved-bottom {
  transform: translateY(430px);
}

#animated-code {
  clip-path: url(#code-clippath);
}

.lamp {
  width: 84px;
  height: 111px;
  background: url('../img/lamp.svg') no-repeat center;
  background-size: contain;
  bottom: 45.6%;
  left: 6%;

  &::after {
    content: '';
    width: 95px;
    height: 149px;
    background: url("../img/light.svg") no-repeat top center;
    background-size: contain;
    position: absolute;
    top: 9px;
    right: -87px;
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &:hover::after {
    opacity: 1;
  }
}

@media (min-width: @screen-m) {
  .lamp {
    width: 120px;
    height: 155px;

    &::after {
      width: 128px;
      height: 170px;
      top: 17px;
      right: -105px;
    }
  }
}

.lamp-big {
  position: absolute;
  top: 0;
  left: 44%;
  width: 92px;
  height: 160px;
  transform-origin: center top;
  animation: lamp 6s linear infinite;
  animation-fill-mode: both;

  &__light {
    width: 243.5px;
    height: 400px;
    top: 137px;
    left: -75px;
    background: url('../img/light.svg') no-repeat top center;
    background-size: contain;
    position: absolute;
    animation: fade-out 3s ease-in-out infinite alternate-reverse;
  }
}

.lamp-light {
  animation: blink 6s infinite linear;
  animation-fill-mode: both;
}

@media (min-width: @screen-m) {
  .lamp-big {
    width: 114px;
    height: 193px;
    left: 46%;

    &__light {
      width: 305.5px;
      height: 500px;
      top: 169px;
      left: -94px;
    }
  }
}

.girl-seat {
  width: 800px;
  height: 410px;
  perspective: 220px;
  perspective-origin: 100% 60%;
  position: absolute;
  right: 88px;
  bottom: 180px;
  pointer-events: none;
}

@media (min-width: @screen-m) {
  .girl-seat {
    width: 1300px;
    height: 610px;
    right: 88px;
    bottom: 236px;
  }
}

.footer {
  padding-top: var(--padding-l);
  background: url('../img/gears-footer.svg') no-repeat top center;
  background-size: contain;

  &__contacts {
    align-items: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  &__title {
    font-size: var(--heading-size-m);
    margin: 0;
    margin-right: 8px;
  }

  &__description {
    font-family: var(--font-secondary);
    display: inline-block;
    text-align: center;
    font-size: var(--font-size-m);
    font-weight: 500;
    line-height: var(--line-height-xl);
    margin: 0 26px;
  }

  &__copyright {
    display: block;
    font-size: var(--font-size-s);
    margin-top: 14px;
  }

  &__logo {
    width: 240px;
    height: 180px;
    transition: var(--transition-base);
    transform: scale(0.9);
    border-radius: var(--border-radius-m);

    &:hover {
      transform: scale(1);
    }

    &:active {
      transform: scale(0.8);
    }

    .focusRing();
  }

  &__logo-img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @screen-m) {
  .footer {
    background-size: cover;

    &__contacts {
      max-width: 440px;
    }

    &__wrapper {
      max-width: 1100px;
      flex-wrap: nowrap;
    }
  }
}
