@import 'variables';

.container() {
  width: @container-size;
  margin: auto;
  padding: 0 40px;
}

.container_laptop() {
  width: @container-laptop-size;
  padding: 0 32px;
  margin: auto;
}

.flex-wrapper(@direction, @justyfy-content, @wrap) {
  display: flex;
  flex-flow: @direction @wrap;
  justify-content: @justyfy-content;
}
