@import 'variables';

.focusRing() {

  &:focus-visible {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 
      0 0 0 2px var(--focus-ring-bg),
      0 0 0 5px var(--focus-ring-color);
  }
}

.listReset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

// for a11y purposes
.visuallyHidden() {
  position: fixed;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Heading with board bg
.heading(@font-size: var(--heading-size-l)) {
  font-size: @font-size;
  font-weight: 500;
  text-align: center;
  text-shadow: var(--text-shadow);
  color: var(--text-color-secondary);
  background: url('../img/board.svg') no-repeat top center;
  background-size: contain;
}

.scrollBar() {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-grey-light);
    border-radius: var(--border-radius-m);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-grey-middle);
    border-radius: var(--border-radius-m);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
  }
}
