@import 'common';
@import 'variables';
@import 'components';
@import 'mixin';
@import 'animation';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.portfolio {
  background: url('../img/gallery-back.svg') no-repeat top center, var(--color-blue-light);
  background-size: cover;

  &__header {
    position: relative; // for back_button
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px 16px;
    color: var(--color-primary-dark);
  }

  &__heading {
    .heading(var(--heading-size-m));
    padding: var(--padding-l);
    line-height: var(--line-height-l);
    font-weight: 400;
  }

  &__description {
    max-width: 800px;
    margin: 30px auto;
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    font-family: var(--font-secondary);
    text-align: center;
  }

  &__back-button {
    --focus-ring-bg: var(--color-primary-dark);
    position: absolute;
    top: 26px;
    left: 80px;
    transform: rotate(90deg);
  }
}

// GALLERY
.gallery {
  font-family: var(--font-secondary);
  
  &__grid {
    --focus-ring-bg: var(--color-blue-light);
    .listReset();
    position: relative; // for expander
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 var(--padding-l);

    @media (min-width: @screen-xs) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: @screen-m) {
      padding: 0 80px;
    }
  }

  &__grid-item {
    --cover-bg: var(--color-violet-fade);
    width: 100%;
    

    &:nth-child(odd) .gallery__item-cover {
      --cover-bg: var(--color-crimson-fade);
    }

    @media (min-width: @screen-xs) {
      max-width: 420px;
      width: 50%;
      flex: 1 1 50%;
    }

    @media (min-width: @screen-m) {
      max-width: 420px;
      width: calc(100% / 3);
      flex: 1 1 calc(100% / 3);
    }
  }

  &__grid-link {
    position: relative;
    display: block;
    border-radius: var(--border-radius-s);
    background-color: var(--color-grey-light);
    overflow: hidden;
    contain: content;
    .focusRing();
  }

  &__item-preview {
    position: relative;
    display: block;
    width: 420px;
    height: 324px;
    object-fit: cover;
  }

  &__item-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xl);
    background-color: var(--cover-bg);
  }

  &__item-logo {
    min-width: 200px;
    max-width: 80%;
    max-height: 200px;
  }

 &__popup-overlay {
    --focus-ring-bg: var(--color-white);
    z-index: var(--layer-level-3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%!important;
    text-align: left;
    background-color: var(--color-violet-fade);
    overflow: hidden;
  }

  &__popup {
    position: relative;
    display: flex;
    width: 90%;
    max-width: var(--container-size);
    min-height: 60%;
    max-height: 90%;
    padding: var(--padding-m);
    background: var(--color-white);
    border-radius: var(--border-radius-m);
    .scrollBar();
  }

  &__full-img-box {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 70%;
    overflow: hidden;
    text-align: center; 
    pointer-events: none;
  }

  &__full-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__details {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    width: 50%;
    padding: var(--padding-l);
    overflow: hidden;
  }

  &__item-title {
    flex-shrink: 0;
    padding-bottom: var(--padding-l);
    margin-left: 8px;
    font-size: var(--heading-size-m);
    font-weight: 600;
    color: var(--color-primary-dark);
  }

  &__item-subtitle {
    font-size: var(--font-size-l);
  }

  &__item-description {
    padding: var(--padding-s);
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    font-weight: 500;
    color: var(--color-primary-dark);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  &__buttons-list {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    height: auto;
    padding: var(--padding-m) var(--padding-s) 0 var(--padding-s);
  }

  &__close-button {
    z-index: var(--layer-level-3);
    position: absolute;
    top: 15px;
    right: 20px;
  }

  &__slider {
    flex-shrink: 0;
    margin-top: 20px;
  }
}

// SLIDER
.slider {
  position: relative; // for .slider__nav

  &__carousel {
    position: relative;
    padding: var(--padding-s) 0;
    margin-top: 20px;
    overflow: hidden;
  }

  &__list {
    .listReset();
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: var(--padding-s);
    backface-visibility: hidden;
    transform: translateX(0px);
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
    min-width: 100px;
    height: 100%;
    flex-shrink: 0;
    backface-visibility: hidden;
    border-radius: var(--border-radius-s);
    background-color: var(--color-grey-light);
  }

  &__link {
    display: inline-block;
    width: 100%;
    max-height: 120px;
    contain: content;
    border-radius: inherit;
    transition: var(--transition-base);

    &:has(> .slider__thumbnail_selected) {
      box-shadow: 0 0 0 3px var(--color-accent);
    }

    &:hover {
      box-shadow: 0 0 0 3px var(--color-primary-dark);
    }

    .focusRing();
  }

  &__thumbnail {
    display: block;
    width: 150px;
    height: 120px;
    object-fit: cover;
    transition: var(--transition-base);

    &_selected {
      opacity: 0.6;
    }
  }

  &__nav {
    position: absolute; // parent is .slider
    width: 100%;
    top: 50%;
  }

  &__button {
    position: absolute;
    top: -12px;

    &_prev {
      transform: rotate(90deg);
      left: 12px;
    }

    &_next {
      right: 12px;
      transform: rotate(-90deg);
    }
  }
}

.footer {
  --focus-ring-bg: var(--color-blue-light);
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: var(--padding-l);
  text-align: center;

  &__contacts {
    margin: 0 auto;
  }
}
