@base-font: 'Neucha', 'Comic Sans', sans-serif;
@transition_base: all 0.2s linear;

/* Colors */

@pink: #fc568d;
@pink_dark: #d22f69;
@purple_dark: #506085;
@cyan: #cafcf9;
@blue: #afeeee;
@fade-blue: rgba(153, 206, 255, 0.5);
@fade-cyan: rgba(102, 255, 255, 0.8);
@beige: #f4ece0;
@grey: #3a4d57;
@grey-light: #f2f2f2;
@grey-dark: #333333;
@white: #ffffff;

/* Screen sizes */

@mobile-screen: 375px;
@tablet-screen: 768px;
@big-screen: 1440px;
@super-big-screen: 1800px;

@container-size: 1360px;
@container-laptop-size: 960px;
